<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardGameForum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/freeboard/assets/favicon.ico}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/freeboard/css/styles.css}"/>
    <!--search box css  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/freeboard/searchbox/css/main.css}" />
    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" th:href="@{/freeboard/css/bootstrap.css}"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #body-wrapper {
            min-height: 90%;
            position: relative;
        }

        #body-content {
            margin-top: 100px;
            padding-bottom: 24px;
        }

        footer {
            width: 100%;
            height: 24px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .no-border {
            border: 0;
            box-shadow: none;
        }
        .title {
            padding: 22px 14px;
            font-size: 20px;
        }
        .attach-file {
            padding: 8px 13px;
            font-size: 10px;
        }
        .mg {
            margin-left: 350px;
            margin-right: 50px;
            margin-top: 16px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .cancel-btn {
            margin-top: -57px;
            margin-left: 94px;
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">BoardGameMall</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">공지사항</a></li>-->
                <li class="nav-item"><a class="nav-link" th:href="@{/forum/freeBoard/}">자유게시판</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#!">고객센터</a></li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">카테고리</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/}">모든상품보기</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" th:href="@{/bgshop/prodCategory/{category}(category=${categoryType[0]})}">일반상품</a></li>
                        <li><a class="dropdown-item" th:href="@{/bgshop/prodCategory/{category}(category=${categoryType[1]})}">할인상품</a></li>
                    </ul>
                </li>
            </ul>
            <div th:object="${member}">
                <ul class="navbar-nav mb-2 mg">
                    <li class="nav-item" th:text="|*{memberName}님, 안녕하세요!|"></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">자유게시판</h1>
            <p class="lead fw-normal text-white-50 mb-0">보드게임과 관련된 이야기들을 나눠보세요!</p>
        </div>
    </div>
</header>
<div id="body-wrapper">
    <div id="body-content">
        <!-- Section-->
        <section>
            <div class="container">
                <form  th:action method="post" th:object="${form}" enctype="multipart/form-data">
                    <input class="form-control no-border title" type="text" th:field="*{title}" placeholder="제목을 입력해주세요.">
                    <hr>
                    <p class="field-error" th:errors="*{title}"/>
                    <textarea id="summernote" th:field="*{content}"></textarea>
                    <p class="field-error" th:errors="*{content}"/>
                    <hr>
                    <button type="submit" class="btn btn-secondary">수정완료</button>
                </form>
                <button type="button" class="btn btn-dark cancel-btn" th:onclick="|location.href='@{/forum/freeBoard/viewForm/{itemId}(itemId=${form.itemId})}'|">수정취소</button>
                <script>

                    // summernote 노출 함수
                    $(document).ready(function () {
                        $('#summernote').summernote({
                            placeholder: '내용을 작성하세요',
                            height: 600,
                            maxHeight: 800,
                            focus : true,
                            callback : {
                                onImageUpload : function (files, editor, welEditable) {
                                    for(var i = 0;i<files.length; i++){
                                        sendFile(files[i], this);
                                    }
                                }
                            }

                        });
                    });

                    // 이미지 파일 업로드 함수(비동기 방식으로 처리하여 업로드한 이미지를 빠르게 볼수 있음)
                    var form_data = new FormData();
                    form_data.append('multipartFile',multipartFile);
                    $.ajax({
                        data : form_data,
                        type : "POST",
                        url : '/forum/freeBoard/addForm',
                        cache : false,
                        contentType : false,
                        enctype : 'multipart/form-data',
                        processData : false,
                        success : function (url) {
                            $(el).summernote('insertImage',url,function ($image) {
                                $image.css('width',"25%");
                            });
                        }
                    })
                </script>
            </div>
        </section>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BoardGameForum</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/freeboad/js/scripts.js}"></script>
</div>
</body>
</html>