<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BoardGameForum</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/freeboard/css/styles.css}"/>
    <!--search box css  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/freeboard/searchbox/css/main.css}" />
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #body-wrapper {
            min-height: 90%;
            position: relative;
        }

        #body-content {
            margin-top: 100px;
            padding-bottom: 24px;
        }

        footer {
            width: 100%;
            height: 24px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        a {
            color: #000000;
            text-decoration: none;
        }

        a:hover {
            color: orange;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">BoardGameMall</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">공지사항</a></li>
                <li class="nav-item"><a class="nav-link" th:onclick="|location.href='@{/forum/freeBoard}'|">자유게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">고객센터</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">카테고리</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">모든제품보기</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">인기있는제품</a></li>
                        <li><a class="dropdown-item" href="#!">신상품</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>

            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">자유게시판</h1>
            <p class="lead fw-normal text-white-50 mb-0">보드게임과 관련된 이야기들을 나눠보세요!</p>
        </div>
    </div>
</header>
<div id="body-wrapper">
    <div id="body-content">
        <!-- Section-->
        <section>
            <div class="container">
                <table class="table table-striped table-hover text-center">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>조회수</th>
                        <th>댓글</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${pagination.getItems()}">
                        <td><a th:href="@{/forum/freeBoard/viewForm/{itemId}(itemId=${item.getItemId()})}" th:text="*{item.num}">번호</a></td>
                        <td><a th:href="@{/forum/freeBoard/viewForm/{itemId}(itemId=${item.itemId})}" th:text="*{item.getTitle()}">제목</a></td>
                        <td th:text="*{item.getWriter()}">작성자</td> <!--닉네임을 누르면 회원정보 보기로 넘어가게끔? 할수있나? -->
                        <td th:text="*{item.getViewCnt}">조회수</td>
                        <td th:text="*{item.getGoodCnt()}">추천수(댓글수로변경예정)</td>
                    </tr>

                    </tbody>
                </table>
                <hr>
                <div class="float-right">
                    <button th:onclick="|location.href='@{/forum/freeBoard/addForm}'|" type="button" class="btn btn-dark">글쓰기</button>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" >
                        <li class="page-item"><a class="page-link" th:href="@{/forum/freeBoard(page=${pagination.getPrevBlock})}">Previous</a></li>
                        <th:block th:with="start = ${pagination.start}, end = ${pagination.end}">
                        <li class="page-item" th:each="pageBtn : ${#numbers.sequence(start,end)}">
                            <a class="page-link" th:href="@{/forum/freeBoard(page=${pageBtn})}" th:text="${pageBtn}">1</a>
                        </li>
                        </th:block>
                        <li class="page-item"><a class="page-link" th:href="@{/forum/freeBoard(page=${pagination.nextBlock})}">Next</a></li>
                    </ul>
                </nav>
                <div class="s003">
                    <form th:action="@{/forum/freeBoard/search}" method="get">
                        <div class="inner-form">
                            <div class="input-field first-wrap">
                                <div class="input-select">
                                    <select id="type" data-trigger="" name="type">
                                        <option value="1">제목</option>
                                        <option value="2">닉네임</option>
                                        <option value="3">제목 + 내용</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-field second-wrap">
                                <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요." />
                            </div>
                            <div class="input-field third-wrap">
                                <button class="btn-search" type="submit">검색</button>
                            </div>
                        </div>
                    </form>
                </div>
                <script th:src="@{/freeboard/searchbox/js/extention/choices.js}"></script>
                <script>
                    const choices = new Choices('[data-trigger]',
                        {
                            searchEnabled: false,
                            itemSelectText: '',
                        });

                </script>
            </div>
        </section>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/freeboad/js/scripts.js}"></script>
</div>
</body>
</html>