<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Shop Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/login/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/login/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/login/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/main.css}">
<!--===============================================================================================-->
	<style>
		.mgtop {
			margin-top: 40px;
		}
		.fnt-size {
			font-size: 20px;
		}
		.wrap-width {
			width: 487px;
		}
	</style>
	<script lang="JavaScript">
		function showPopup() {
			var url = "/bgshop/signup/";
			var title = "회원가입";
			var prop = "width=700px, height=950px";
			window.open(url,title,prop);
		}
	</script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 wrap-width">
				<form th:action th:method="post" th:object="${loginForm}" class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
					<span class="login100-form-title p-b-48 fnt-size">
						서비스를 이용하기위해 로그인을 해주세요.
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" name="memberAcct">
						<span class="focus-input100" data-placeholder="ID"></span>
					</div>

					<div class="wrap-input100">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="memberPw">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="alert alert-danger mgtop" role="alert" th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err:${#fields.globalErrors()}" th:text="${err}">danger message</p>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							계정이 없으신가요?
						</span>

						<a class="txt2" th:onclick="showPopup()" style="cursor: pointer">
							  회원가입
						</a>
						<br>
						<span class="txt1">
							홈페이지로 이동할까요?
						</span>

						<a class="txt2" th:href="@{/}">
							홈페이지
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
	<script th:src="@{/login/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/login/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/login/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/login/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/login/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/login/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/login/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/login/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/login/js/main.js}"></script>

</body>
</html>