<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Shop SignUp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/signup/css/style.css}">
	<style>
		.field-error {
			border-color: #dc3545;
			color: #dc3545;
		}
	</style>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">회원가입</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-6 col-xl-5">
					<div class="login-wrap p-4 p-md-5">
		      	<h3 class="mb-4">안녕하세요! <span>정보를 입력하여 회원가입을 완료하여주세요.</span></h3>
		      	<span> </span>
						<form th:action th:object="${member}" method="post" class="signup-form">
		      		<div class="form-group mb-4">
		      			<label class="label" for="memberAcct">아이디</label>
		      			<input type="text" class="form-control" placeholder="blueFish" id="memberAcct" th:field="*{memberAcct}">
						<div class="field-error" th:errors="*{memberAcct}"/>
		      		</div>
	            <div class="form-group mb-4">
	            	<label class="label" for="memberPw">비밀번호</label>
	              <input type="password" class="form-control" placeholder="sample1234" id="memberPw" th:field="*{memberPw}">
					<div class="field-error" th:errors="*{memberPw}"/>
	            </div>
	            <div class="form-group mb-4">
	            	<label class="label" for="memberPwConfirm">비밀번호 확인</label>
	              <input type="password" class="form-control" placeholder="sample1234" id="memberPwConfirm" th:field="*{memberPwConfirm}">
					<div class="field-error" th:errors="*{memberPwConfirm}"/>
	            </div>
				<div class="form-group mb-4">
				<label class="label" for="memberName">닉네임</label>
				<input type="text" class="form-control" placeholder="RedTomato1210" id="memberName" th:field="*{memberName}">
					<div class="field-error" th:errors="*{memberName}"/>
				</div>
				<div class="form-group mb-4">
				<label class="label" for="memberEmail">이메일 주소</label>
				<input type="text" class="form-control" placeholder="gildong@gmail.com" id="memberEmail" th:field="*{memberEmail}">
					<div class="field-error" th:errors="*{memberEmail}"/>
				</div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3">회원가입 완료</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script th:src="@{/signup/js/jquery.min.js}"></script>
  <script th:src="@{/signup/js/popper.js}"></script>
  <script th:src="@{/signup/js/bootstrap.min.js}"></script>
  <script th:src="@{/signup/js/main.js}"></script>

	</body>
</html>

