<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="forum.board.repository.mybatisMapper.UploadFileMapper">

    <insert id="saveFile" useGeneratedKeys="true" keyProperty="fileId">
        insert into uploadfile (item_id,upload_file_name,store_file_name) values (#{itemId},#{uploadFileName},#{storeFileName})
    </insert>

    <insert id="saveFiles" useGeneratedKeys="true" keyProperty="fileId">
        insert into uploadfile (item_id,upload_file_name,store_file_name) values <foreach collection="list" item="uploadFiles" separator=",">
                                                (#{uploadFiles.itemId},#{uploadFiles.uploadFileName},#{uploadFiles.storeFileName})
                                                                   </foreach>
    </insert>

    <select id="findFileById" resultType="UploadFile">
        select * from uploadfile where item_id=#{itemId}
    </select>

</mapper>